<p>I'm a Strategic Designer focused on Content and Linguistics, and I've been making sense of messy messes for over 10 years.

Get in touch if you want to talk about:

- Designing for complex systems and navigating org chaos
- Metadesign processes
- Object-oriented design/UX (OOUX)
- Semantic design and conceptual modeling
- Terminology and taxonomies
- Information architecture
- Design and research through Computational Linguistics and Sociolinguistics </p>

<p><strong>#UXstrategy #UXarchitecture #OOUX #sociolinguistics </strong></p>

<p><a href="hello@micheleschell.com">hello@micheleschell.com</a></p>

<blockquote>
    “Information architecture is the way that we arrange the parts of something to make it understandable.”
    — Abby Covert in [How to make sense of any mess](https://www.howtomakesenseofanymess.com/)
</blockquote>
