<p>I'm a UX Architect focused on Content and Linguistics, and I've been making sense of messy messes for over 10
    years.</p>

<p>Let's talk about:</p>

<ul>
    <li>Designing for complex systems and navigating org chaos</li>
    <li>Metadesign processes</li>
    <li>Object-oriented design/UX (OOUX)</li>
    <li>Semantic design and conceptual modeling</li>
    <li>Terminology and taxonomies</li>
    <li>Information architecture</li>
    <li>Design and research through Computational Linguistics and Sociolinguistics</li>
</ul>