<p>Hello! 👋 I'm a designer currently navigating the exciting realm of large companies. My expertise lies in fostering collaboration across diverse teams, blending creativity with the power of object-oriented UX to bring meaningful value to my daily endeavors. Let's craft some awesome experiences together! 💡✨</p>

<p><strong>#Design #OOUX #Vegan</strong></p>

<p><a href="mailto:micheleuxdesign@gmail.com">micheleuxdesign@gmail.com</a></p>

<blockquote cite="https://wearetechwomen.com/inspirational-quotes-ada-lovelace-the-first-computer-programmer/">
    “That brain of mine is something more than merely mortal, as time will show.”
    — Ada Lovelace
</blockquote>
